/* 
Montserrat Alternates: CSS classes

.montserrat-alternates-thin {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-alternates-extralight {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.montserrat-alternates-light {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-medium {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-extrabold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat-alternates-black {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.montserrat-alternates-thin-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.montserrat-alternates-extralight-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.montserrat-alternates-light-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.montserrat-alternates-regular-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-alternates-medium-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.montserrat-alternates-semibold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.montserrat-alternates-bold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-alternates-extrabold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.montserrat-alternates-black-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: italic;
}
Quicksand: CSS class for a variable style

// <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name

.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;


// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto-slab-<uniquifier> {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}
/* Настройка Главного меню */

header {
  z-index: 10;
}

#dropped-menu { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  font-family: "Montserrat Alternates", serif !important;
  font-size: 20px;
  font-weight: bold;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
  color: #fff;
  background-color: transparent;
  
}

#dropped-menu.scrolled {
  background-color: rgba(0,0,0,0.7); /* НЕ РАБОТАЕТ полупрозрачный черный при скролле */
}

.menu-dropdown {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  list-style: none;
}

.main-menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 30px;
  color: #0e0e0e;
  position: relative;
}

.main-menu-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0e0e0e;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}


.main-menu-button:hover::after {
  transform: scaleX(1);
}


/* Логотип подстраиваем под высоту меню */
.main-menu .logo img,
.main-menu img {
  height: 114px;
  width: auto;
  display: block;
}

.main-menu .logo img {
  height: 114px;
  width: auto;
}

.main-menu-right {
  display: flex;
  align-items: center;
  gap: 50px;
}

.main-menu-right .separator {
  color: #ccc;
}


.login-btn, .cart-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.login-btn {
  background-color: #cce4ff;
  color: #000;
}

.cart-btn {
  background-color: #D75FA2;
  color: #000000;
}


/* Слайдер */

/* Центральный блок */
.slider-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* сам слайдер: занимает всю обёртку */
.slider {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;
}

/* область со слайдами (визуальная "рамка") */
.slider-slides {
  position: relative;
  width: 100%;
  height: 100%;
}

/* контейнер всех изображений — flex, без wrap */
.slider-images {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  /* ширина задавать не нужно — слайды подгоняются через flex */
  transition: transform 0.8s cubic-bezier(0.770, 0.000, 0.175, 1.000);
  will-change: transform;
}

/* каждый слайд занимает ровно 100% видимой области */
.slider-image-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease;
}

.slider-image-item.active {
  opacity: 1;
}

/* картинка растягивается по слайду и обрезается (cover) */
.slider-image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 3s ease, opacity 0.5s ease;
}

.slider-image-item.active img {
  transform: scale(1.05); /* Увеличиваем на 5% */
}

/* скрываем радио-кнопки */
.slider-radio {
  display: none;
}

/* пагинация: внизу, по центру */

.slider-pagination-wrapper {
  position: absolute;
  top: 275px;
  right: 60px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 20px;
}

.slider-pagination {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#slider-switch-1:checked ~ .slider-slides .slider-pagination #line-1,
#slider-switch-2:checked ~ .slider-slides .slider-pagination #line-2,
#slider-switch-3:checked ~ .slider-slides .slider-pagination #line-3 {
  width: 100%;
}

.slider-step {
  display: flex;
  align-items: center;
  gap: 25px; /* расстояние между цифрой и линией */
}

.slider-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-family: "Roboto Slab", serif; 
  font-optical-sizing: auto; 
  font-weight: medium 500; 
  font-style: normal; 
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  transition: border-color 0.3s, color 0.3s;
}

.slider-line-progress {
  height: 100%;
  width: 0%;
  background-color: white;
  border-radius: 2px;
  transition: width 0.3s;
}

.slider-progress {
  width: 5px;
  height: 150px; /* общая высота полоски */
  background-color: rgb(0, 0, 0);
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.slider-progress-fill {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  transform-origin: bottom; /* для "растяжения" снизу */
  transform: scaleY(var(--progress, 0));
  transition: transform 1s ease;
}

#slider-switch-1:checked ~ .slider-pagination-wrapper .slider-progress-fill {
  --progress: 0.6666;
}

#slider-switch-2:checked ~ .slider-pagination-wrapper .slider-progress-fill {
  --progress: 0.3333;
}

#slider-switch-3:checked ~ .slider-pagination-wrapper .slider-progress-fill {
  --progress: 0;
}

/* Настройка основной части */
.body-history {
  display: flex;
  height: 600px;
  background-color: #404040;
  margin-top: 30px;
  margin-bottom: 40px;
}

.body-history-img {
  height: 600px;
  width: 900px;
}

.body-history-left-text{
  display: flex;
}

.body-history-left-text h1,
.body-history-left-text h2,
.body-history-left-text p,
.body-history-menu-button {
  font-family: "Montserrat Alternates", sans-serif !important;
  color: #ffffff;
}

.body-history-left-text h1 {
  font-weight: 450;
  margin-bottom: 25px;
  font-size: 35px;
}

.body-history-left-text h2 {
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 50px;
}

.body-history-left-text p {
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 75px;
}

.body-history-all-text {
  padding: 50px;
  text-align: left;
}

.body-history-menu-button {
  position: relative;
  width: 150px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0); 
  border: 2px solid; 
  border-color: #ffffff;
  font-size: 20px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}



/* Часть страницы с колонками */

.columns-section {
  position: relative;
  width: 100%;
  margin: 0;
}

.body-columns-background-img {
  display: block;
  width: 100%;
  height: 985px; /* поставь высоту равную колонкам */
  min-height: 925px;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
  z-index: 1;
  position: relative;
}


.body-all-columns {
  position: absolute;
  top: 80px;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 300px); /* по 150px слева и справа */
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  box-sizing: border-box;
  z-index: 2;
}

/*фиксированная ширина, высота подгоняется по body-all-columns */
.body-column {
  width: 400px;
  min-height: 650px;
  padding: 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-shrink: 0;             /* не сжимается при масштабировании */
}

.columns-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: visible;
}


.body-img {
  width: 275px;
  height: 250px;
  object-fit: cover; /* чтобы не растягивало */
  display: block;
  margin: 0 auto 15px;
  flex-shrink: 0;
}

.body-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 40px;
  font-style: normal;
  text-align: center;
  margin-bottom: 15px;
}

.body-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  /* margin-bottom: 45px; */
  margin: 0 0 45px 0;
}


.body-button {
  margin: auto auto 0 auto; /* прижимаем вниз + по центру */
  padding: 12px 28px;
  font-size: 22px;
  border: 2px solid #000;
  border-radius: 6px;
  background: transparent;
  color: #000;
  cursor: pointer;
  text-align: center;
}