* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #fff; /* белый фон страницы */
  height: 100%;
  width: 100%;
}
/* Настройка Главного меню */

#dropped-menu { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  font-family: "Oswald", serif !important;
  font-size: 20px;
  font-weight: bold;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
  color: #fff;
  background-color: transparent;
  
}

.hero{
  position: relative; /* контейнер для фоновой декорации */
  width: 100%;
  height: 120px; /* или больше, если нужно */
  background-image: url('img/gold-decor.png');    /* или background-position:'left center' */
  background-repeat: no-repeat;
  background-size: 230px auto;               /* размер декорации */
  background-position: left -20px center;
  z-index: 1;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 230px; /* совпадает с background-size */
  height: 100%;
  background-image: url('img/gold-decor.png');
  background-repeat: no-repeat;
  background-size: 230px auto;
  background-position: right 20px top -75px;
  transform: scaleX(-1); /* зеркалим */
}

#dropped-menu.scrolled {
  background-color: rgba(0,0,0,0.7); /* НЕ РАБОТАЕТ полупрозрачный черный при скролле */
}

.menu-dropdown {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  list-style: none;
}

.main-menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 30px;
  color: #0e0e0e;
  position: relative;
}

.main-menu-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0e0e0e;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}


.main-menu-button:hover::after {
  transform: scaleX(1);
}


/* Логотип подстраиваем под высоту меню */
.main-menu .logo img,
.main-menu img {
  height: 114px;
  width: auto;
  display: block;
}

.main-menu .logo img {
  height: 114px;
  width: auto;
}

.main-menu-right {
  display: flex;
  align-items: center;
  gap: 50px;
}

.main-menu-right .separator {
  color: #ccc;
}


.login-btn, .cart-btn {
  display: flex;
  align-items: center;
  gap: 8px; /* расстояние между иконкой и текстом */
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.login-btn, .cart-btn {
  display: flex;
  align-items: center;
  gap: 8px; /* расстояние между иконкой и текстом */
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.login-btn {
  background-color: #cce4ff;
  color: #000;
}

.cart-btn {
  background-color: #D75FA2;
  color: #000000;
}

/* Настройка изображения-бэкграунда */
.main-backgroung-img {
  background: url('img/main.jpg') no-repeat center center;
  background-size: cover;
}

.background-img {
  height: 1000px;
  width: 100%;
}

/* Настройка основной части */
.body-history {
  display: flex;
  height: 600px;
  background-color: #404040;
  margin-top: 30px;
}

.body-history-img {
  height: 600px;
  width: 900px;
}

.body-history-left-text{
  display: flex;
}

.body-history-left-text h1,
.body-history-left-text h2,
.body-history-left-text p,
.body-history-menu-button {
  font-family: "Oswald", sans-serif !important;
  color: #ffffff;
}

.body-history-left-text h1 {
  font-weight: 450;
  margin-bottom: 25px;
  font-size: 35px;
}

.body-history-left-text h2 {
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 50px;
}

.body-history-left-text p {
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 75px;
}

.body-history-all-text {
  padding: 50px;
  text-align: left;
}

.body-history-menu-button {
  position: relative;
  width: 150px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0); 
  border: 2px solid; 
  border-color: #ffffff;
  font-size: 20px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
